<div class="container">
    <div class="bg-info text-white py-4">
        <h3 class="my-3">Resgistro de cuenta</h3>
    </div>
    <form action="">
        <div id="DatosPersonales" class="borde">
            <h4>Datos de la cuenta</h4>
            <div class="form-group row">
                <label for="nombres" class="col-auto col-sm-3 col-form-label text-right">Nombres</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="text" placeholder="Ingrese sus nombres" id="nombres">
                </div>
            </div>
            <div class="form-group row">
                <label for="Apellidos" class="col-auto col-sm-3 col-form-label text-right">Apellidos</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="text" placeholder="Ingrese sus apellidos" id="Apellidos">
                </div>
            </div>
            <div class="form-group row">
                <label for="Correo" class="col-auto col-sm-3 col-form-label text-right">Correo</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="email" placeholder="bootstrap@example.com" id="Correot">
                </div>
            </div>
            <div class="form-group row">
                <label for="Telefono" class="col-auto col-sm-3 col-form-label text-right">Telefono</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="tel" placeholder="1-(555)-555-5555" id="Telefono">
                </div>
            </div>
            <div class="form-group row">
                <label for="Contraseña" class="col-auto col-sm-3 col-form-label text-right">Contraseña</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="password" placeholder="Ingrese la contraseña" id="Contraseña">
                </div>
            </div>
            <div class="form-group row">
                <label for="ConfContraseña" class="col-auto col-sm-3 col-form-label text-right">Confirmar contraseña</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="password" placeholder="Vuelva a escribir la contraseña" id="ConfContraseña">
                </div>
            </div>
        </div>
        
        <div id="Preferencias" class="borde">
            <h4>Preferencias</h4>

            <div class="form-group row">
                <label for="Preferencias" class="col-auto col-sm-3 col-form-label text-right">Tamaño empresa</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" id="Preferencias">
                        <option selected>Choose...</option>
                        <option value="1">Preferencia uno</option>
                        <option value="2">Preferencia dos</option>
                        <option value="3">Preferencia tres</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                    <label for="Preferencias" class="col-auto col-sm-3 col-form-label text-right">Sector</label>
                    <div class="col-11 col-sm-8 col-lg-7">
                        <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" id="Preferencias">
                            <option selected>Choose...</option>
                            <option value="1">Preferencia uno</option>
                            <option value="2">Preferencia dos</option>
                            <option value="3">Preferencia tres</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                        <label for="Preferencias" class="col-auto col-sm-3 col-form-label text-right">Ubicación</label>
                        <div class="col-11 col-sm-8 col-lg-7">
                            <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" id="Preferencias">
                                <option selected>Choose...</option>
                                <option value="1">Preferencia uno</option>
                                <option value="2">Preferencia dos</option>
                                <option value="3">Preferencia tres</option>
                            </select>
                        </div>
                    </div>
            <div class="text-right col-12 col-lg-10 my-2">
                <button type="button" class="btn btn-info mx-1">Agregar</button>
            </div>
        </div>


        <div class="borde container">
            <div class="row">

                <div id="Trabaja" class="col-12 col-md-6 ">

                    <div class="form-check custom-control custom-checkbox  ml-md-5 mt-2 mb-2">
                        <label class="label1">
                            <input #trabaja type="radio" name="radio" (change)="valor1()"> <span class="label-text">¿Actualmente
                                trabaja en anguna organización?</span>
                        </label>
                    </div>
                </div>

                <div id="Trabaja" class="col-md-6 ">

                    <div class="form-check custom-control custom-checkbox ml-md-5 mt-2 mb-2">
                        <label class="label1">
                            <input type="radio" name="radio" (change)="valor2()"> <span class="label-text">¿Es
                                independiente o empleador?</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="marked1" id="Organizaion" class="borde">
            <h4>Datos de organización</h4>
            <div class="form-group row">
                <label for="nombreEmpr" class="col-auto col-sm-3 col-form-label text-right">Nombre</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="text" placeholder="Ingrese el nombre de la empresa" id="nombreEmpr">
                </div>
            </div>
            <div class="form-group row">
                    <label for="Preferencias" class="col-auto col-sm-3 col-form-label text-right">Tamaño empresa</label>
                    <div class="col-11 col-sm-8 col-lg-7">
                        <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" id="Preferencias">
                            <option selected>Choose...</option>
                            <option value="1">Micro empresa</option>
                            <option value="2">Pequeña empresa</option>
                            <option value="3">Mediana empresa</option>
                            <option value="4">Gran empresa</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                        <label for="nombreEmpr" class="col-auto col-sm-3 col-form-label text-right">Nombre</label>
                        <div class="col-11 col-sm-8 col-lg-7">
                            <input class="form-control" type="text" placeholder="Ingrese el nombre de la empresa" id="nombreEmpr">
                        </div>
                    </div>
            <div class="form-group row">
                <label for="Sector" class="col-auto col-sm-3 col-form-label text-right">Sector económico</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="text" placeholder="Ingrese el sector economico" id="Sector">
                </div>
            </div>
            <div class="form-group row">
                <label for="CorreoCorp" class="col-auto col-sm-3 col-form-label text-right">Correo corporativo</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="text" placeholder="Ingrese su correo personal corporativo" id="CorreoCorp">
                </div>
            </div>
            <div class="form-group row">
                <label for="TelefonoCorp" class="col-auto col-sm-3 col-form-label text-right">Teléfono corporativo</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="text" placeholder="Ingrese su teléfono personal corporativo">
                </div>
            </div>
        </div>

        <div *ngIf="marked2" id="Organizaion1" class="borde">
            <h4>Datos de dependiente o empleador</h4>
            <div class="form-group row">
                <label for="nombreEmpr" class="col-auto col-sm-3 col-form-label text-right">Nombre actividad</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="text" placeholder="Ingrese el nombre de la empresa" id="nombreEmpr">
                </div>
            </div>
            <div class="form-group row">
                <label for="Sector" class="col-auto col-sm-3 col-form-label text-right">Descripción</label>
                <div class="col-11 col-sm-8 col-lg-7">
                    <input class="form-control" type="text" placeholder="Ingrese el sector economico" id="Sector">
                </div>
            </div>

        </div>

        <div class="text-right col-12 my-2">
            <button type="button" routerLink="/principal/" class="btn btn-info mx-1">Registrarse</button>
            <button type="button" routerLink="/login/" class="btn btn-info mx-1">Volver a inicio</button>
        </div>
    </form>
    <app-footer></app-footer>
</div>