<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-7 borde">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <h3>Coincidencias</h3>
        </form>
      </nav>
      <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sector</th>
            <th scope="col">Empresa</th>
            <th scope="col">Rol</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button class="btn btn-outline-info btn-sm">Detalle</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button class="btn btn-outline-info btn-sm">Detalle</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><button class="btn btn-outline-info btn-sm">Detalle</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col borde">
      <h3>Cuenta</h3>
      
        <div class="row b2">
          <div class="col-8 col-md-5 ">
            <div class="b1 text-right">Tickets disponibles:</div>
          </div>
          <div class="b2 col ">30</div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 ">
            <div class="text-right">Contactos publicados:</div>
          </div>
          <div class="col ">22</div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 ">
            <div class="text-right">Tickets recibidos:</div>
          </div>
          <div class="col ">6</div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 ">
            <div class="text-right">Garantias solucionadas:</div>
          </div>
          <div class="col ">10</div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 ">
            <div class="text-right">Garantias aprobadas:</div>
          </div>
          <div class="col ">15</div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 ">
            <div class="text-right">Reportes negativos:</div>
          </div>
          <div class="col ">2</div>
        </div>
      

    </div>
  </div>
</div>