<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-7 borde">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <h3>Coincidencias</h3>
        </form>
      </nav>
      <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sector</th>
            <th scope="col">Empresa</th>
            <th scope="col">Rol</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of contactos; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{item.sector}}</td>
            <td>{{item.empresa}}</td>
            <td>{{item.cargo}}</td>
            <td><button class="btn btn-outline-info btn-sm" (click)="obtener(item)" >Detalle</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col borde">
      <h3>Cuenta</h3>
      
        <div class="row ">
          <div class="col-8 col-md-5 ">
            <div class="text-right">Tickets disponibles:</div>
          </div>
          <div class=" col ">30</div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 ">
            <div class="text-right">Contactos publicados:</div>
          </div>
          <div class="col ">22</div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 ">
            <div class="text-right">Tickets recibidos:</div>
          </div>
          <div class="col ">6</div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 ">
            <div class="text-right">Garantias solucionadas:</div>
          </div>
          <div class="col ">10</div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 ">
            <div class="text-right">Garantias aprobadas:</div>
          </div>
          <div class="col ">15</div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 ">
            <div class="text-right">Reportes negativos:</div>
          </div>
          <div class="col ">2</div>
        </div>
      

    </div>
  </div>
</div>