<div class="container">
    <h3>Nueva publicación</h3>

    <div id="Preferencias" class="borde">
        <h4>Datos generales</h4>
        <div class="form-group row">
            <label for="Preferencias" class="col-auto col-sm-3 col-form-label text-right">Sector</label>
            <div class="col-11 col-sm-8 col-lg-7 ">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="Preferencias" name="Sector" [(ngModel)] = "Sector">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of sectores" [value]="item">{{item}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="Preferencias" class="col-auto col-sm-3 col-form-label text-right">Sub sector</label>
            <div class="col-11 col-sm-8 col-lg-7">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="Preferencias" name="SubSector" [(ngModel)] ="SubSector">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of sectores" [value]="item">{{item}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="nombres" class="col-auto col-sm-3 col-form-label text-right">Empresa</label>
            <div class="col-11 col-sm-8 col-lg-7">
                <input class="form-control" type="text" placeholder="Ingrese sus nombres" id="empresa" name="Empresa" [(ngModel)]="Empresa">
            </div>
        </div>
    </div>
    <div id="DatosPersonales" class="borde">
        <h4>Datos específicos</h4>
        <div class="form-group row">
            <label for="nombres" class="col-auto col-sm-3 col-form-label text-right">Nombre del contacto</label>
            <div class="col-11 col-sm-8 col-lg-7">
                <input class="form-control" type="text" placeholder="Ingrese sus nombres" id="nombrecontacto" name="NombreContacto" [(ngModel)]="NombreContacto">
            </div>
        </div>
        <div class="form-group row">
            <label for="Preferencias" class="col-auto col-sm-3 col-form-label text-right">Cargo</label>
            <div class="col-11 col-sm-8 col-lg-7">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="Preferencias" name="Cargo" [(ngModel)]="Cargo">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of cargos" [value]="item">{{item}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="Preferencias" class="col-auto col-sm-3 col-form-label text-right">Descripción</label>
            <div class="input-group col-11 col-sm-8 col-lg-7">
                <textarea [(ngModel)]="Descripcion" class="form-control" aria-label="With textarea"></textarea>
              </div>
        </div>
       

    </div>
    <div class="container borde p-2">
        <div class="row ">
            <div class="col-6 col-sm-auto ml-3 p-2   text-right">
                Agregar formas de contacto
            </div>
            <div class="col-auto p-2">
                <div class="material-switch pull-left ">
                    <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox" (change)="mostrarFormas()">
                    <label for="someSwitchOptionInfo" class="bg-info"></label>
                </div>
            </div>
        </div>
        <div *ngIf="formasc">
            <p>A continuación deberá poner las formas de contacto que quiere publicar, especificando el tipo de contacto. De esta forma si el tipo de contacto es número de teléfono, en la parte de detalle deberá poner el numero o si el tipo de contacto es correo, en la parte de detalle deberá poner el correo.</p>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Tipo contacto</label>
                                <div class="col-sm-10">
                                    <select name="tcontacto" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="Preferencias"
                                        placeholder="seleccione uno" [(ngModel)]="tcontacto">
                                        <option selected>Seleccione uno</option>
                                        <option value="Teléfono fijo">Telefono fijo</option>
                                        <option value="Teléfono móvil">Teléfono móvil</option>
                                        <option value="Correo electrónico">Correo electrónico</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Detalle</label>
                                <div class="col-sm-10">
                                    <input type="text" [(ngModel)]="contacto" name="contacto" class="form-control" id="inputPassword3"
                                        placeholder="número o email">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-12 text-right">
                                    <button type="submit" (click)="addContacto()" class="btn btn-info">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Tipo</th>
                                        <th scope="col-2">Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of lista ; let i = index">

                                        <td class="">{{item.tipo}}</td>
                                        <td class="">{{item.contacto}}</td>
                                        <td class="">
                                            <i (click)="editContacto(i)" data-toggle="modal" data-target="#EditModal"
                                                class="fas pr-3 fa-pencil-alt"></i>
                                            <i (click)="deleteContacto(i)" class="far  fa-trash-alt"></i>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 pb-3 text-right">
        <button #btnPublicar type="submit" data-toggle="modal" data-target="#confirmPub" class="btn btn-info">Publicar</button>
    </div>
</div>


<!--MODAL EDITAR FORMAS CONTACTO-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar: {{edittcontacto}}</h5>
                <button #btnClose type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="" (ngSubmit)="confirmEdit() ">
                    <input type="text" placeholder="Ingresa tu nombre" name="name" class="form-control" [(ngModel)]="editcontacto">
                    <button class="btn btn-info mt-3" type="submit">Editar</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!--MODAL CONFIRMAR PUBLICACION-->

<div class="modal fade" id="confirmPub" aria-labelledby="confirmPub" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Estado de la publicación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Los datos registrados has sido guardados y publicados correctamente</p>
        </div>
        <div class="modal-footer">
          <button #btnPublicar type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="submit()"  class="btn btn-info">Terminar registro</button>
        </div>
      </div>
    </div>
  </div>